* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #000;
}

h1,
h2,
h3,
h4,
p {
  color: #ffffff;
  text-align: left;
}

h3 {
  color: #fca311;
}

.projects {
  padding-top: 20%;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
}
.flex-container a {
  text-decoration: underline;
}
.flex-container-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}
.flex-container-row .text {
  padding-left: 5%;
}
@media screen and (max-width: 800px) {
  .flex-container-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }
  .flex-container-row .text {
    padding-left: 5%;
  }
}

a {
  color: #fca311;
  text-decoration: none;
}
a:hover {
  color: #c07b0c;
}

/* This is for the landing page */
/* Modified version of https://codepen.io/marcell0lopes/pen/oNemQmB */

#landingPage {
  padding: 0 0 0 0;
}

.titleSequence {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
.titleSequence h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fca311;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 7s;
}

@keyframes slide {
  0% {
    top: -4rem;
  }
  16.6% {
    top: -4rem;
  }
  33.3% {
    top: -8rem;
  }
  50% {
    top: -12rem;
  }
  66.6% {
    top: -16rem;
  }
  83.3% {
    top: -20rem;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .titleSequence h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.125rem;
  }

  .roller {
    height: 2rem;
    line-height: 2rem;
  }

  .roller #rolltext {
    animation: slide-mob 7s;
  }

  @keyframes slide-mob {
    0% {
      top: -2rem;
    }
    16.6% {
      top: -4rem;
    }
    33.3% {
      top: -6rem;
    }
    50% {
      top: -8rem;
    }
    66.6% {
      top: -10rem;
    }
    83.3% {
      top: 0;
    }
    100% {
      top: 0;
    }
  }
}

/* Code Pen https://codepen.io/rpsmith77/pen/mdqWwGN */

:root {
  --animation-delay: 0.2s;
  --duration: 2s;
  --iterations: 1;
}
.project-reveal h1,
h2 {
  display: inline-block;
}
.reveal {
  position: relative;
  font-size: 72px;
  user-select: none;
  animation-name: reveal-text;
  cursor: default;
}
.reveal:after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fca311;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer-text;
}
.reveal,
.reveal:after {
  animation-delay: var(--animation-delay);
  animation-iteration-count: var(--iterations);
  animation-duration: var(--duration);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.reveal.purple:after {
  background-color: #fca311;
}
.reveal.purple,
.reveal.purple:after {
  animation-delay: 1s;
}
@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes revealer-text {
  0%,
  50% {
    transform-origin: 0 50%;
  }
  60%,
  100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* Code Pen https://codepen.io/bchiang7/pen/QmBQzx*/

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2em;
  padding: 50px;
}
.container .card {
  background: #fca311 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
}
.container .card:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0);
}
.container .card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 300px;
  padding: 20px;
}
.container .card .content a {
  display: block;
  color: black;
}
.container .card .content a header span {
  display: block;
  margin-bottom: 4px;
  color: #14213d;
  font-size: 12px;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.container .card .content a header h2 {
  margin: 0 0 0.5em;
  font-size: 20px;
}
.container .card .content a section p {
  color: #14213d;
  line-height: 1.7;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
}
.container .card .content footer .author a {
  color: #14213d;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 14px;
}
.container .card .content footer .author a:hover {
  text-decoration: underline;
}

/* Code Pen https://codepen.io/bchiang7/pen/pjeYmx */

.CV-page {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2em;
  color: #ffffff;
  font-size: 1em;
  font-family: "Lato", sans-serif;
}

/* .CV-page ul {
  list-style: none;
}

.CV-page li::before {
  content: "- ";
  color: #fca311;
} */

@media all and (max-width: 500px) {
  .CV-page {
    padding: 0 1em;
  }
}
/* if IE<=7 */

.CV-page\ {
  width: 1100px;
}

.CV-secondaryHeading {
  position: relative;
  margin: 2em 0 0;
  text-transform: uppercase;
}
/* Grid
****************************************************/

.CV-grid {
  display: table;
}

.CV-grid-column {
  display: table-cell;
}

.CV-timeline {
  position: relative;
  margin: 0 0 0 0.5em;
  padding-left: 1.5em;
  border-left: solid 1px #fca311;
}

.CV-timeline:first-of-type {
  margin-top: 1em;
}

.CV-timeline:last-of-type {
  border-left-color: transparent;
}

.CV-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5em;
  display: block;
  width: 1em;
  height: 1em;
  border: solid 1px #fca311;
  background-color: #fca311;
  border-radius: 50%;
}

.CV-timeline-heading {
  margin: 0;
  padding-bottom: 0.5em;
  line-height: 1em;
  font-weight: normal;
  -webkit-transform: translateY(-0.1em);
  -ms-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
}

.CV-timeline-heading-title {
  line-height: 1;
  color: #00aef0;
  font-style: italic;
  text-transform: uppercase;
}

.CV-timeline-heading-location {
  font-size: 0.9em;
}

.CV-timeline-heading-duration {
  display: block;
  font-size: 0.8em;
  color: #ffffff;
}

.CV-timeline-details {
  display: block;
  margin: 0;
  padding-bottom: 2em;
  padding: 0 0 2em 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGElEQVQIW2NkYGD4D8TIgJERTQDMpVAQAGaUAQbko3DsAAAAAElFTkSuQmCC");
}

.CV-timeline-details-item {
  margin-bottom: 0.5em;
}
