body{
    background-color: #3D405B;
    font-family: 'Fira Code';
    color: #F4F1DE;
    -webkit-font-smoothing: antialiased;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #3D405B;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
#AboutMe{
    margin-top: 800px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Fira Code';
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #F4F1DE;
    font-size: 15px;
    z-index: 1000;
}
html{
    scroll-behavior: smooth;
}
#code {
    border-radius: 5px;
    width:670px;
    margin: 0 auto;
    padding-top:15px;
    font-size:30px;
    background: #ccc;
    height: 100px;
    text-align: left;
    font-size:15px;
    margin-top: 100px;
}
#terminal {
    width:670px;
    padding: 40px;
    height: 830px;
    margin:0 auto;
    background: #282A36;
    color: #50fA7B;
}
span.return {
    color:#8BE9FD;
  }